<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="assgnmnt.posttweet"/>
      <class name="assgnmnt.Tsixth"/>
      <class name="assgnmnt.Twitter1"/>
      <class name="assgnmnt.Block"/>
      <class name="assgnmnt.username"/>
      <class name="assgnmnt.weather"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
